h2 {
    font-size: 35px;
    color: #74745c;
}

table,
td,
th {
    border: 1px solid black;
    margin: auto;
}

table {
    border-collapse: collapse;
    background: #F8F8E1;
}

th {
    font-size: 20px;
    background: #ACAC8A;
    color: #F8F8E1;
}
td,
th {
    padding: 10px;
}